[Desktop Entry]
Name=Photostat
GenericName=Photo Editor
Comment=The Linux Photo Editing Tool
Categories=Utility;Graphics;Photography;
Exec=com.github.photostat-editor.photostat
Icon=com.github.photostat-editor.photostat
Terminal=false
Type=Application
Keywords=Photo;Graphics;Photography;Edit;Editing
