name: "CI: Lint"

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  lint:

    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v1
    - name: Vala Lint
      run: io.elementary.vala-lint -d .
    - name: Check out code
    - uses: actions/checkout@master
    - name: MD Lint
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
